In [61]:
import pandas as pd
from sklearn import metrics

In [6]:
df=pd.read_csv("train.csv")

In [7]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [8]:
X=df.drop("label",axis=1)

In [9]:
X.head()

,id,title,author,text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [10]:
y=df["label"]

In [11]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [12]:
df=df.dropna()

In [13]:
arjun=df.copy()

In [14]:
arjun.reset_index(inplace=True)

In [15]:
arjun.head()

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [16]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
ps=PorterStemmer()
corpus=[]
for i  in range(0,len(arjun)):
    review=re.sub("[^a-zA-Z]"," ",arjun["title"][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word)for word in review if not word in stopwords.words("english")]
    review=" ".join(review)
    corpus.append(review)

In [17]:
corpus[4589]

'travel nut allergi clash airlin new york time'

In [18]:
arjun.shape

(18285, 6)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
arjuna=CountVectorizer(max_features=1000,ngram_range=(1,3))
X=arjuna.fit_transform(corpus).toarray()

In [20]:
X.shape

(18285, 1000)

In [21]:
y=arjun['label']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [23]:
arjuna.get_feature_names()[:30]

['abedin',
 'abort',
 'abus',
 'access',
 'access pipelin',
 'account',
 'accus',
 'act',
 'action',
 'activ',
 'activist',
 'ad',
 'add',
 'address',
 'administr',
 'admit',
 'advis',
 'african',
 'age',
 'agenc',
 'agenda',
 'agent',
 'agre',
 'ahead',
 'aid',
 'aim',
 'air',
 'airport',
 'airstrik',
 'al']

In [25]:
count_df = pd.DataFrame(X_train, columns=arjuna.get_feature_names())

In [26]:
count_df

,abedin,abort,abus,access,access pipelin,account,accus,act,action,activ,...,wrong,year,year new,year old,yemen,york,york time,young,zika,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12245,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12246,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
12249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
from sklearn.naive_bayes import MultinomialNB
classifier= MultinomialNB()
print("accuracy")
classifier.fit(X_train,y_train)
prediction=classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,prediction))

accuracy
0.8788732394366198

In [41]:
from sklearn.metrics import precision_recall_fscore_support as score
precision,recall,fscore,support=score(y_test,prediction)

print("precision:{}".format(precision))
print("recall:{}".format(recall))
print("fscore:{}".format(fscore))
print("support:{}".format(support))

precision:[0.91453525 0.83845882]
recall:[0.86515196 0.89644747]
fscore:[0.88915845 0.86648402]
support:[3389 2646]

In [42]:
from sklearn.linear_model import PassiveAggressiveClassifier
classifier=PassiveAggressiveClassifier()
print("accuracy")
classifier.fit(X_train,y_train)
prediction=classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,prediction))

accuracy
0.8926263463131732

In [43]:
from sklearn.metrics import precision_recall_fscore_support as score
precision,recall,fscore,support=score(y_test,prediction)

print("precision:{}".format(precision))
print("recall:{}".format(recall))
print("fscore:{}".format(fscore))
print("support:{}".format(support))

precision:[0.8852966 0.9031477]
recall:[0.92918265 0.84580499]
fscore:[0.9067089 0.8735363]
support:[3389 2646]

In [70]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier()
print("accuracy")
classifier.fit(X_train,y_train)
prediction=classifier.predict(X_test)
from sklearn.metrics import accuracy_score,confusion_matrix
print(accuracy_score(y_test,prediction))

accuracy
0.9231151615575808

In [53]:
from sklearn.metrics import precision_recall_fscore_support as score
precision,recall,fscore,support=score(y_test,prediction)

print("precision:{}".format(precision))
print("recall:{}".format(recall))
print("fscore:{}".format(fscore))
print("support:{}".format(support))

precision:[0.94907407 0.88765653]
recall:[0.9073473  0.93764172]
fscore:[0.92774174 0.91196471]
support:[3389 2646]

In [71]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,prediction)

array([[3083,  306],
       [ 158, 2488]], dtype=int64)